@import url(https://fonts.googleapis.com/css?family=Raleway);
html{
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: url() no-repeat;
        background-size: cover;
        
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #777676;
    }

    nav{
        margin-top: 0;
        padding: 5px;
        text-align: center;
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #343434;
    }

    img{
        border-radius: 50%;
        width: 20%;
        height: auto;
    }

    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #343434;
    }


    .menu{ 
        transition: 0.3s ease;
        background: #343434;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        border-top: 4px solid #343434;
        border-bottom: 4px solid #343434;
        padding: 20px 5px 0 0;
        margin: 0 20px;
    }

    .menu:hover{
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        padding: 6px 0;
    }
    .menu-paragrafo:hover:after{
        font-size: 20px;
        color: #7c8c64;
    }

    .cabecalho{
        margin-top: 2px;
        padding: 24px;
        width: auto;

        display: flex;
        justify-content: inherit;
        align-items: center;

        text-align: left;
        font-family: Raleway;
        font-size: 15px;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #504f4f;
    }
}

@media only screen and (min-width: 600px) {
    body {
    	margin: 0;
    	padding: 0;
    	font-family: sans-serif;
    	background: url() no-repeat;
    	background-size: cover;

        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #777676;
    }

    nav{
        margin-top: 0;
        padding: 24px;
        text-align: center;
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #343434;
    }

    img{
        border-radius: 50%;
        width: 20%;
        height: auto;
    }

    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #343434;
    }

    .menu{ 
        transition: 0.3s ease;
        background: #343434;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        border-top: 4px solid #343434;
        border-bottom: 4px solid #343434;
        padding: 20px 0;
        margin: 0 20px;
    }

    .menu:hover{
        border-top: 4px solid #ffffff;
        border-bottom: 4px solid #ffffff;
        padding: 6px 0;
    }

    .menu-paragrafo:hover:after{
        font-size: 20px;
        color: #7c8c64;
    }

    .cabecalho{
        margin-top: 2px;
        padding: 24px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        text-align: left;
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #504f4f;
    }

}