@import url(https://fonts.googleapis.com/css?family=Raleway);
html{
    overflow-y: scroll;
    scroll-snap-type: mandatory;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url() no-repeat;
    background-size: cover;

    font-family: Raleway;
    box-shadow: 2px 2px 8px rgb(40, 39, 39);
    background: #636363;

    margin: 0 0 85px 0;
    color: rgb(209, 205, 205);

    position: absolute;
}



::-webkit-scrollbar {
    width: 8px; /* Scrollbar Thickness */
    height:15px;
}
::-webkit-scrollbar-thumb {
    background: #22514A; 
}
::-webkit-scrollbar-track {
    background: #ffffff; /* Background Color */
}

.img-Cabecalho{
    border-radius: 50%;
    width: 40%;
    height: auto;
}

.icone{
    width: 100%;
    height: auto;
}

img{
    border-radius: 50%;
    width: 20%;
    height: auto;
}

.cabecalho{
    margin: 2px 0 5px 0;
    padding: 24px;
    width: auto;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
    font-size: 15px;
    box-shadow: 2px 2px 8px rgb(40, 39, 39);
    background: #504f4f;
}

.container{
    width: 50%;
}

.container-img{
    text-align: end;
}

.container-text{
    text-align: start;
}

.corpo{
    margin: 2px 0 5px 0;
    padding: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgb(40, 39, 39);
    background: #504f4f;
}

.direcao-coluna{
    flex-direction: column;
}

.accordion-item > .accordion-header > .accordion-button{
    background-color:#969696;
}

@media only screen and (max-width: 600px) {
    
    .img-Cabecalho{
        border-radius: 50%;
        width: 100%;
        height: auto;
    }

    .icone{
        width: 100%;
        height: auto;
    }

    img{
        border-radius: 50%;
        width: 20%;
        height: auto;
    }

    .cabecalho{
        margin: 2px 0 5px 0;
        padding: 24px;
        width: auto;
        height: 200px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-family: Raleway;
        font-size: 15px;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #504f4f;
    }

    .container{
        width: 50%;
    }

    .container-img{
        text-align: end;
    }

    .container-text{
        text-align: start;
    }

    .corpo{
        margin: 2px 0 5px 0;
        padding: 24px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        text-align: left;
        font-family: Raleway;
        box-shadow: 2px 2px 8px rgb(40, 39, 39);
        background: #504f4f;
    }
}

